/* header {
  font-size: 1.5rem;
  position: fixed;
  width: 100%;
  height: 80px;
  left: 80px;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
}

.headerIcons {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  align-self: center;
}

.Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
} */